@model HelloSurname.Models.UserNameInputModel
@{
    ViewData["Title"] = "Hello Noname!";
}

<div class="text-center">
        <form asp-action="HelloName" method="post">
            <input asp-for="Name" type="text" name="name" />
            <input type="submit" value="Send" class="btn btn-primary" />
        </form>
        <div asp-validation-summary="All"></div>
</div>

