@model HelloSurname.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        if (Model?.Name != null)
        {
            <h3>Hello @Model.Name!</h3>
        }
        else
        {
            <form asp-action="Index" method="post">
                <input asp-for="name" type="text" name="name" />
                <input type="submit" value="Send" class="btn btn-primary" />
            </form>
        }
    }
</div>
