@model HelloSurname.Models.UserNameInputModel
@{
    ViewData["Title"] = "Hello Noname!";
}

<div>
    <form asp-action="HelloName" method="post" class="d-flex justify-content-between m-auto" style="width: 330px;">
        <input asp-for="Name" type="text" name="name" class="form-control border border-primary" style="width: 250px;" placeholder="name" />
        <input type="submit" value="Send" class="btn btn-primary" />
    </form>
    <div asp-validation-summary="All" class="text-center mt-2"></div>

</div>

